.superior{
    padding-inline: 1.5rem ;
    padding-block: 2rem;
    border-radius: 5px;
    background: white;

}
.superior p:nth-of-type(1){
    font-weight: 700;
    line-height: 1.25rem;
    color: var(--Bright-Yellow);
    margin-bottom: 1rem;

}
.superior p:nth-of-type(2){
    line-height: 1.625rem;
    color: var(--Grayish-Blue);
    font-size: 0.875rem;
    
}
.esquerda>div{
    display: flex;
    gap: 0.75rem;
    align-items: center;
    margin-bottom: 0.25rem;
}
.esquerda>p{
    color: white;
    line-height: 1.625rem;
    margin-bottom: 1.625rem;

}
.esquerda>button{
    padding-block: 1rem;
    width: 100%;
    color: white;
    font-size: 1rem;
    
}